@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans KR', 'Lato', sans-serif;
    font-size: 17px;
    word-break: keep-all;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
}
ul {
    list-style: none;
}
